#bg-glassmorphism {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    z-index: -1;
}

#main-glass {
    color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 80vh;

    display: grid;
    grid-template-rows: 10% 5% 15% 70%;

    padding: 0.5rem 2rem;

    background-color: rgb(0, 0, 0, .5);
    border: 1px solid #343434;
    border-radius: 1.5rem;

    backdrop-filter: blur(0.5rem);
}

#header {
    font-size: calc(1.375rem + 1.5vw);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header a {
    color: inherit;

    text-decoration: none;
}

form {
    position: relative;

    width: 50%;

    display: flex;
    flex-direction: column;

    margin: auto;
}

form label {
    margin-bottom: 0.25rem;
}

form input {
    font-size: 1.2rem;

    height: 2.2rem;

    padding-left: 0.25rem;

    border: 1px solid #ddd;

    outline: none;
}

form button {
    font-size: 1.4rem;

    position: absolute;
    right: 0;
    bottom: 0rem;

    width: 3rem;
    height: 2.2rem;

    background-color: transparent;
    border: none;
    border-left: 1px solid #ddd;
}

#result {
    height: 100%;

    margin-top: 1rem;
}

ul {
    width: 100%;
    height: 80%;

    padding-left: 0.25rem;

    overflow-y: auto;
}

ul::-webkit-scrollbar {
    width: 5px;
}
  
ul::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .75);
    border-radius: 1rem;
}
  
ul::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 1rem;
}
  
ul::-webkit-scrollbar-thumb:hover {
    background: #333;
}

li {
    list-style: none;
}

#foot {
    color: #fff;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

@media screen and (max-width: 576px) {
    form {
        width: 100%;
    }

    h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
    #header h1,
    #header a {
        font-size: 1.5rem;
    }

    #main-glass {
        grid-template-rows: 10% 8% 22% 55%;
    }

    h2 {
        font-size: 1.2rem;
    }

    ul {
        height: 70%;
    }
}